<?xml version="1.0"?>
<config>
    <modules>
        <Coins_Gateway>
            <version>1.0</version>
        </Coins_Gateway>
    </modules>
	<frontend>
        <routers>
            <coins_gateway>
                <use>standard</use>
                <args>
                    <module>Coins_Gateway</module>
                    <frontName>coins_gateway</frontName>
                </args>
            </coins_gateway>
        </routers>
    </frontend>
    <global>
      <models>
        <Gateway>
          <class>Coins_Gateway_Model</class>
        </Gateway>
      </models>
      <helpers>
        <Gateway>
          <class>Coins_Gateway_Helper</class>
        </Gateway>
      </helpers>
      <blocks>
        <Gateway>
          <class>Coins_Gateway_Block</class>
        </Gateway>
      </blocks>
      <resources>
          <Coins_setup>
              <setup>
                  <module>Coins_Gateway</module>
              </setup>
              <connection>
                  <use>core_setup</use>
              </connection>
          </Coins_setup>
          <Coins_write>
              <connection>
                <use>core_write</use>
              </connection>
          </Coins_write>
          <Coins_read>
             <connection>
              <use>core_read</use>
            </connection>
          </Coins_read>
      </resources>
    </global>
 
    <default>
        <payment>
            <Gateway>
                <active>1</active>
                <model>Gateway/paymentMethod</model>
                <title>Bitcoin via Coins PH</title>
                <payment_action>authorize</payment_action>
                <callback_secret>generate</callback_secret>
				<pay_url>https://coins.ph/pay</pay_url>
            </Gateway>
         </payment>
    </default>
</config>
